@font-face {
  font-family: "EtchASketch";
  src: url("Etchasketch-n6vR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: "EtchASketch", sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    background-color: rgb(255, 218, 218);
}

h1 {
    margin: 0;
    padding: 0;
}

.grid {
    margin: 0;
    padding: 0;
    width: 256px;
    height: 256px;
    border: 50px solid rgb(217, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.row-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 100%;
}

.square {
    width: 14px;
    height: 14px;
    border: 1px solid rgb(232, 232, 232);
}